.slider h3,
.slider h5,
.clients h3 {
	text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
}
.My {
	background-color: #eaeaea;
	padding-top: 30px;
	padding-left: 30px;
	padding border-bottom: 30px;
}
.parallax-container {
	height: 20%;
}
.parallax img{
	filter: grayscale(1);
	opacity: 0.5 !important;
}
.clients img {
	max-width: 150px;
		filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

section, footer {
	padding: 10px 0;
}



